*{
	box-sizing: border-box;
	font-family: arial;
	font-size: 15px;
}

body{
	background-image: url("background1.jpg");
	background-size: cover;
}
/*CSS for hoveddelen av siden. Satt til bredde 80% så bakgrunnsbildet synes. */
#mainContainer {
	max-width: 80%;
	margin: auto;
	display: grid;
	grid-gap: 0px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 350px 1fr 40px;
	grid-template-areas:
		"header header header header header"
		"mainArt mainArt mainArt sidebar sidebar"
		"footer footer footer footer footer";
	
}

/*Definerer boksen til header og nav*/
#mainHead {
	display: grid;
	grid-template-columns:1fr 2fr 1fr;
	grid-template-rows: 2fr 1fr;
	grid-template-areas:
	"header header header"
	"nav nav nav";
	grid-area: header;
	color: white;
	background-image: url("header.jpg");
	background-size: cover;
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 10px;

}

/*Spesifikasjoner for overskriften i headerelementet*/
#mainHead h1 {
	grid-area: header;
	align-self: center;
	justify-self: center;
	font-size: 3rem;
	
}

/*Posisjonerer nav-delen i headerelementet*/
#mainHead nav {
	grid-area: nav;
	align-self: center;
	justify-self: center;
	
}

/*Styling på nav-linkene slik at de ser ut som knapper.*/
#mainHead nav a {

	color: white;
	text-decoration: none;
	padding: 5px;
	border: 1px solid white;
}

/*Spesifikasjoner for hva som skjer når man hovrer linkene.*/
#mainHead nav a:hover {
	background-color: white;
	color: black;
}

/*Hoveddelen som skal fylles med artikler gjennom semesteret.*/
#mainArea {
	grid-area: mainArt;
	background-color: #fcfcfc;
	border: 1px solid #222222;
	border-radius: 5px;
	padding: 5%;

}

/*Spesifikasjoner for hvordan hver enkelt artikkel skal se ut*/
#mainArea .artikkel {
	display: grid;
	grid-template-rows: 2fr 1fr;
	grid-template-areas: "artikkel bilde";
	max-height: 250px;
	margin-left: 40px;
	margin-bottom: 50px;
	width: 100%;
	
	
}

#mainArea article div {
	padding-left: 20px;
	heigth: auto;
	
}

#mainArea article h2 {
	

}

#mainArea article p {
	max-width: 90%;
}
/*Spesifikasjoner for sidebaren, som skal fylles med 3 seksjoner.*/
#sidebar {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: "video"
	"linker"
	"button";
	grid-area: sidebar;
	background-color: #fcfcfc;
	border: 1px solid #222222;
	border-radius: 5px;
	padding: 5%;
	margin-left: 5px;
}

/******SIDEBAR DELEN*******/
#sidebar section {
	max-width: 100%
	
}

#youtube {
	padding: 5px;
	grid-area: video;
	text-align: center;
}

/* ekstra youtubestæsj for responsive iframe*/
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

#responsiveLink nav {
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	grid-area: linker;
	align-items: center;
	justify-items: center;
	width: 100%;
	padding-top: 50px;
}

#responsiveLink nav a {
	color: black;
	border: 1px solid black;
	padding: 10px 30% 10px 30%;
	margin-top: 10px;
	font-size: 18px;
	width: 100%;
	text-align: center;
	text-decoration: none;
	
}

#responsiveLink nav a:hover {
	color: white;
	border: 1px solid white;
	background-color: gray;
}

#gitKnapp {
	padding-top: 50px;
	bottom: 10;
	grid-areas: button;
}

#gitKnapp a{
	color: black;
	border: 1px solid black;
	padding: 10px 48% 10px 48%;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
}

#gitKnapp a:hover {
	color: white;
	border: 1px solid white;
	background-color: gray;
	
}

/*Styling for footerdelen.*/
footer {
	grid-area: footer;
	text-align: center;
	color: white;
	padding-top: 5px;
}

#divGitArtikkel {
	grid-area: artikkel;
	max-width: 65%
}


#artikkelBilde {
	grid-area: bilde;
	max-width: 29%;
	padding-top: 30px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
}

#artikkelBilde img {
	flex-direction: column;
	flex-wrap: wrap;
}
.rund {
	width: 230px;
	height: 230px;
	border-radius: 50%;
	border: 3px solid #cfcfcf;
	
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 22px;
	padding-top: 25px;
}